  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>¡Encantado de verte por aquí!</h1>
      <h2>Soy Juan Antonio Villegas, tengo 21 años y estudio informática y matemáticas en la Universidad de Granada. En esta página de github subo fundamentalmente mis prácticas de asignaturas que he ido cursando durante mis estudios universitarios y algunos proyectos ajenos a la carrera. Para cualquier contacto, estoy disponible en Twitter, Instagram o por email.</h2>
      <hr />
    </div>
  </div>
  <div class ="container">
